@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

.landingspage {
	width: 100%;
	height: 106vh;
	background-image: url(../img/cele_landingpage.png);
	overflow: hidden;
	background-size: cover;
	background-position: center center;
    background-repeat: no-repeat;
    background-position-y: -149px;
}

.landingspage_next {
	width: 100%;
	height: 106vh;
	background-image: url(../gif/roy.gif);
	overflow: hidden;
	background-size: cover;
	background-position: center center;
    background-repeat: no-repeat;
    background-position-y: -149px;
}

.textcontainer {
	position: relative;
	z-index: 1;
	color: #fff;
	margin-top: 280px;
	float: left
}

.bg-image {
	margin-top: 80px;
	position: absolute;
	margin-left: -58px
}

.links {
	margin-top: 50px;
	width: 210px
}

.inline {
	display: inline-block;
	color: #fff;
	top: 50px;
	position: relative
}

.inline.left {
	float: left
}

.inline.right {
	float: right
}

nav {
	margin-top: 83px;
	width: 100%;
	height: 160px
}

.logo {
	float: left;
	width: 160px;
	cursor: pointer
}

.menu {
	float: right;
	margin: 0px;
	color: #fff
}


/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */

html {
	font-family: sans-serif;
	line-height: 1.15;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}

body {
	margin: 0
}

article,
aside,
footer,
header,
nav,
section {
	display: block
}

h1 {
	font-size: 2em;
	margin: 0.67em 0
}

figcaption,
figure,
main {
	display: block
}

figure {
	margin: 1em 40px
}

hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible
}

pre {
	font-family: monospace, monospace;
	font-size: 1em
}

a {
	background-color: transparent;
	-webkit-text-decoration-skip: objects
}

a:active,
a:hover {
	outline-width: 0
}

abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted
}

b,
strong {
	font-weight: inherit
}

b,
strong {
	font-weight: bolder
}

code,
kbd,
samp {
	font-family: monospace, monospace;
	font-size: 1em
}

dfn {
	font-style: italic
}

mark {
	background-color: #ff0;
	color: #000
}

small {
	font-size: 80%
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}

sub {
	bottom: -0.25em
}

sup {
	top: -0.5em
}

audio,
video {
	display: inline-block
}

audio:not([controls]) {
	display: none;
	height: 0
}

img {
	border-style: none
}

svg:not(:root) {
	overflow: hidden
}

button,
input,
optgroup,
select,
textarea {
	font-family: sans-serif;
	font-size: 100%;
	line-height: 1.15;
	margin: 0
}

button,
input {
	overflow: visible
}

button,
select {
	text-transform: none
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em
}

legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal
}

progress {
	display: inline-block;
	vertical-align: baseline
}

textarea {
	overflow: auto
}

[type="checkbox"],
[type="radio"] {
	box-sizing: border-box;
	padding: 0
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto
}

[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit
}

details,
menu {
	display: block
}

summary {
	display: list-item
}

canvas {
	display: inline-block
}

template {
	display: none
}

[hidden] {
	display: none
}

.about-img {
    width: 560px;
    float: right;
    top: -266px;
    position: relative;
    right: -56px;
}

.about-color {
	background-color: #f5f5f5
}

.about-text {
    padding-top: 41px;
    padding-left: 41px;
}

.about-text.coloring {
	color: #737373
}

.textwidht {
    padding-left: 42px;
	width: 400px;
	font-family: futura-pt, sans-serif;
	line-height: 20px;
	color: #737373;
}

body {
	font-size: 14px
}

.container {
	margin: 0 auto;
	width: 1200px;
	height: auto
}

h1 {
	font-size: 5.25em;
	font-family: "karmina", serif;
	font-style: regular;
	font-weight: 100;
	margin: 0px
}

h2 {
	font-size: 3.125em;
	margin: 0px;
	font-family: "karmina", serif;
	font-style: italic;
	font-weight: 200
}

h3 {
	font-size: 1.3em;
	color: #737373;
	font-family: futura-pt, sans-serif;
	font-style: normal;
	font-weight: 500;
	letter-spacing: 4px;
	margin: 0px
}

h4 {
	font-size: 1em;
	font-family: futura-pt, sans-serif;
	font-style: normal;
	font-weight: 500;
	letter-spacing: 4px;
	margin: 0px
}

h5 {
	font-size: 0.8em;
	font-family: futura-pt, sans-serif;
	font-style: normal;
	font-weight: 500;
	letter-spacing: 3px;
	margin: 0px
}

.numbers-campus {
    background-color: #fff;
    width: 192px;
    height: 369px;
    margin-top: 75px;
    margin-left: -71px;
    color: #737373;
}

.titleSmall {
	padding-top: 43px;
    padding-left: 44px;
}

.number {
    font-family: "Playfair Display";
    font-size: 1.8em;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 0px;
    padding-left: 44px;
}

.playfair {
    font-family: "Playfair Display";
    font-size: 1.8em;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 0px;
    padding-left: 44px;
}

.vertical-text-fontshop {
    transform: rotate(-90deg);
    transform-origin: right top 0;
    margin-top: -176px;
    margin-right: 44px;
    float: right;
}

.container-title{
	position: absolute;
    right: 0;
    margin-right: 83px;
    margin-top: 32px;
}

.fontshop-images {
    padding-top: 174px;
    margin-left: -172px;
}

.project-text {
	padding-top: 100px;
    padding-bottom: 340px;
    margin-left: -79px;
}

.container-title2 {
    position: absolute;
    right: 0;
    margin-right: 92px;
    margin-top: -127px;
}

.playfair2 {
    font-family: "Playfair Display";
    font-size: 2.3em;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 0px;
    padding-left: 44px;
}

.vertical-text-fontshop2 {
    transform: rotate(-90deg);
    transform-origin: right top 0;
    margin-top: -283px;
    margin-right: 44px;
    float: right;
}

.instagram-grid {
	padding-top: 60px; 
	margin-left: -73px; 
	margin-bottom: -127px;
}

footer {
    width: 100%;
    background-image: url(../img/footer.jpg);
    height: auto;
    padding-top: 250px;
    padding-bottom: 250px;
}

.footerBox {
    width: 280px;
    height: auto;
    float: left;
    margin-right: 180px;
}

#middleBox {
    text-align: center !important;
    margin-top: -30px;
}

#lastBox {
    margin-right: 0px !important;
}

.footerBox h3 {
    font-family: "Playfair Display";
    font-size: 1.6em;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 1px;
}

.footerBox p {
	font-family: futura-pt, sans-serif;
	line-height: 20px;
	color: #737373;
}

.footerBox a {
	font-family: futura-pt, sans-serif;
	line-height: 20px;
	color: #737373;
    text-transform: uppercase;
    text-decoration: none !important;
    letter-spacing: 3px;
    font-weight: 500;
    font-size: 12px;
}

.smallLogo {
    width: 120px;
    height: auto;
}

/* Overlay style */
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(185, 157, 7, 0.87);
	font-family: "Playfair Display";
}

/* Overlay closing cross */
.overlay .overlay-close {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 148px;
    top: 50px;
    overflow: hidden;
    border: none;
    background: url(../img/cross.png) no-repeat center center;
    background-size: 36px;
    text-indent: 200%;
    color: transparent;
    outline: none;
    z-index: 100;
}

/* Menu style */
.overlay nav {
	text-align: center;
	position: relative;
	top: 43%;
	height: 60%;
	font-size: 54px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.overlay ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	height: 100%;
	position: relative;
}

.overlay ul li {
	display: block;
	height: 20%;
	height: calc(100% / 5);
	min-height: 54px;
}

.overlay ul li a {
	font-weight: 300;
	display: block;
	color: #fff;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
	text-decoration: none;
}

.overlay ul li a:hover,
.overlay ul li a:focus {
	color: #e3fcb1;
}

/* Effects */
.overlay-hugeinc {
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
	transition: opacity 0.5s, visibility 0s 0.5s;
}

.overlay-hugeinc.open {
	opacity: 1;
	z-index: 1000;
	visibility: visible;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.overlay-hugeinc nav {
	-webkit-perspective: 1200px;
	perspective: 1200px;
}

.overlay-hugeinc nav ul {
	opacity: 0.4;
	-webkit-transform: translateY(-25%) rotateX(35deg);
	transform: translateY(-25%) rotateX(35deg);
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
}

.overlay-hugeinc.open nav ul {
	opacity: 1;
	-webkit-transform: rotateX(0deg);
	transform: rotateX(0deg);
}

.overlay-hugeinc.close nav ul {
	-webkit-transform: translateY(25%) rotateX(-35deg);
	transform: translateY(25%) rotateX(-35deg);
}

@media screen and (max-height: 30.5em) {
	.overlay nav {
		height: 70%;
		font-size: 34px;
	}
	.overlay ul li {
		min-height: 34px;
	}
}
